@model Cuenta
@{
    ViewData["Title"] = "Borrar Cuenta";
}

<h3 class="mb-3">¿Desea borrar la cuenta (@Model.Nombre)?</h3>

<form asp-controller="Cuentas" asp-action="BorrarCuenta">
    <input type="hidden" asp-for="Id" />

    <button class="btn btn-primary" type="submit">Borrar</button>
    <a class="btn btn-secondary" asp-controller="Cuentas" asp-action="Index">Cancelar</a>

</form>
