@model ReporteTransaccionesDetalladas
@{
    ViewData["Tile"] = "Detalle de transacciones Cuentas";

}

<h1>Movimiento @ViewBag.Cuenta</h1>

<partial name="_ReportesTransaccionesDetalladas" model="Model" />




